.img_tarjeta{
width: 150px;
height: 250px;
}

.listadohome{
display: flex;
justify-content: space-evenly;
}

.header_home{
    display: flex;
    align-items: center;
}

.logo{
    height: 500px;
    width: 400px;
}
